<%- include('partials/head')%>


<%- include('partials/navbar')%>
<div class="container">
  <h1 id="heading">FastAppoint</h1>
  <div class="anim">
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_chjeeskg.json" background="transparent" speed="1"
      style="width: 300px; height: 300px;" loop autoplay></lottie-player>
  </div>
</div>

<div class="second">
  <h2>Fasten up your appointments here</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quia, voluptate labore dolore dolores inventore at
    commodi cupiditate magni ad nihil itaque nisi voluptates. Eaque molestiae dolor iste? Illum, adipisci?</p>
</div>
<!-- cards -->

<div class="cards">
<% doctor.forEach((item)=>{ %> 
  <div class="card" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <lottie-player src="https://assets1.lottiefiles.com/packages/lf20_l13zwx3i.json" background="transparent" speed="1"
      style="width: 300px; height: 300px;" loop autoplay></lottie-player>
    <div class="card-body">
      <h5 class="card-title"><%= item.name %> </h5>
      <p class="card-text"><%= item.speciality %></p>
      <p class="card-text"><%=  item.contactNumber %></p>
      <a href="/loginPatient" class="btn btn-primary">Book Appointment</a>
    </div>
  </div>

<% }); %> 

</div>



<%- include('partials/footer')%>